.loader-border {
  width: 5rem;
  height: 1rem;
  overflow: hidden;
  position: relative;
}

.loader {
  position: absolute;
  left: -5rem;
  width: 5rem;
  height: 1rem;
  background-color: var(--main-color);
  animation: 2s linear 0s infinite normal  move_loader;
}

@keyframes move_loader { from { left: -5rem; } to { left: 5rem }  }