@import "../common.css";
@import "window_controllers.css";
@import "mailbox.css";
@import "information_row.css";
@import "letter_area.css";
@import "new_letter_area.css";

.main {
  display: grid;
  width: 100%;
  grid-template: 
    "control control" auto
    "mailbox letter" 1fr 
    "info info" auto
    / 1fr 1fr;
  overflow: hidden;
}

#window-controllers {
  grid-area: control;
}

#mailbox-area {
  grid-area: mailbox;
  margin-right: 0.5rem;
}

#letter-area {
  grid-area: letter;
}

#information-row {
  grid-area: info;
}