.new-letter{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.new-letter-canvas{
  flex-grow: 1;
  box-sizing: border-box;
}

.new-letter-attachments {
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  height: 2rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}

.attachment-info {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  border-right: 2px solid var(--main-color);
  padding: 0 0.5rem;
  white-space: nowrap;
}

.attachment-info > .button {
  width: 2rem;
  margin-left: 0.5rem;
}

.new-letter-buttons {
  height: auto;
  display: flex;
  flex-direction: row;
}

.new-letter-addressee {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid var(--main-color);
}

.new-letter-subject {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid var(--main-color);
}

.new-letter-text-input {
  padding: 0.5rem;
  width: 100%;
}

.new-letter-text-input:focus {
  outline: none;
}